[Unit]
Description=Airtable Taskview Service
After=network.target 

[Service]
User=username
WorkingDirectory=/path/to/repo
ExecStart=/path/to/repo/airtable_taskview.py
Restart=on-failure
Type=simple
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
